body {
  height: 100vh;
  background-color: $Soft_violet;
  font-family: $Main_font;
  font-size: $Main_fontSize;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 325px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 100px;
  border-radius: 20px;
  margin-top: 50px;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -20px;
  right: 20px;
  .box-img {
    display: none;
  }
  .woman-img {
    position: absolute;
    width: 200px;
    height: 200px;
  }
  .bg-img {
    position: absolute;
    bottom: -10px;
    left: 25px;
  }
}
.faq-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: flex-start;
  h1 {
    align-self: center;
    font-size: 1.9rem;
    color: $Very_dark_desaturated_blue;
  }
  .faq {
    margin: 5px 0;
    width: 100%;

    .question {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      color: $Dark_grayish_blue;
      font-weight: 700;
      padding: 15px 0;
      cursor: pointer;

      .arrow {
        width: 10px;
        height: 8px;
      }
    }
    .answer {
      color: $Dark_grayish_blue;
      font-weight: 700;
      display: none;
    }
    .line {
      border: 1px solid $Light_grayish_blue;
    }
  }
}
