* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  height: 100vh;
  background-color: #af67e9;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e9;
  padding-bottom: 100px;
  border-radius: 20px;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 20px;
}
.imageContainer .box-img {
  display: none;
}
.imageContainer .woman-img {
  position: absolute;
  width: 200px;
  height: 200px;
}
.imageContainer .bg-img {
  position: absolute;
  bottom: -10px;
  left: 25px;
}

.faq-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: flex-start;
}
.faq-container h1 {
  align-self: center;
}
.faq-container .faq {
  margin: 5px 0;
  width: 100%;
}
.faq-container .faq .question {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: #4a4b5e;
  font-weight: 700;
  padding: 15px 0;
}
.faq-container .faq .question .arrow {
  width: 10px;
  height: 8px;
}
.faq-container .faq .answer {
  color: #787887;
  font-weight: 700;
  display: none;
}
